.mcmurtry-affinity-groups-page {
  padding-top: 10%;
  margin-bottom: 5%;
}

.affinity-group-title {
  font-size: 2em;
  text-align: center;
  font-weight: normal;
  padding: 8px;
  color: #515768;
}
