.back-link {
    position: fixed;
    margin: 3%;
    font-size: 1.5em;
    text-decoration: none;
    color: #2B2F3A;
    transition: 0.3s ease-in-out
}

.back-link:hover {
    transform: translateX(-10px);
}

@media screen and (min-width: 801px) {
    .faqs-section-title {
        width: 800px;
        margin: 0 auto;
        text-align: center;
        border: solid #2B2F3A;
        border-width: 0 0 1px 0;
        font-weight: normal;
        font-size: 4em;
    }
}

@media screen and (max-width: 800px) {
    .faqs-section-title {
        width: 350px;
        padding-top: 10%;
        margin: 0 auto;
        text-align: center;
        border: solid #2B2F3A;
        border-width: 0 0 1px 0;
        font-weight: normal;
        font-size: 2em;
    }
}

.faqs-list {
    margin: 0 auto;
}

.faq-card {
    margin: 3% 0;
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border: 2px solid #2B2F3A;
    font-family: inherit;
    padding: 0;
}

.faq-question, .faq-answer {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s ease-in-out;
    font-size: 1.5em;
}

.faq-question {
    left: 0;
    background-color: #DCDFE5;
    color: #2B2F3A;
}

.faq-answer {
    right: 100%;
    background-color: #2B2F3A;
    color: #DCDFE5;
}

.faq-card:hover .faq-question {
    left: 100%;
}

.faq-card:hover .faq-answer {
    right: 0;
}

.faq-card:focus {
    outline: none;
}

.faq-card:focus .faq-answer {
    right: 0;
}

.faq-card:focus .faq-question {
    left: 100%;
}

.faq-question p, .faq-answer p {
    padding: 20px;
}