.coronavirus-page {
    padding-top: 10%;
    margin-bottom: 5%;
}

.covid-message {
    margin-top: 5%;
    color: #515768;
}

.covid12-faqs {
    margin-top: 5%;
}

.covid-quick-links {
    text-align: center;
}

.covid-quick-links a {
    color: #87799C;
    font-size: 1.5em;
    font-weight: bold;
}

.covid-question {
    background-color: #87799C;
    color: #DCDFE5;
    padding: 10px 20px;
    font-size: 1.2em;
    display: inline-block;
}

.covid-answer {
    color: #515768;
    margin-top: 40px;
    margin-bottom: 50px;
}

.covid-answer a {
    color: #87799C;
    font-weight: bolder;
}

.covid-subtitle {
    text-align: center;
    margin: 40px 0;
}

.covid-subtitle p {
    text-align: center;
    font-size: 1.8em;
    padding: 20px;
    background-color: #515768;
    color: #DCDFE5;
    display: inline;
}