.room-reservations-page {
    padding-top: 10%;
    margin-bottom: 5%;
}

.room-catagory {
    color: #515768;
    padding: 30px;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

.catagory-subheader {
    text-align: left;
    background-color: #515768;
    display: inline;
    color: #DCDFE5;
    padding: 5px 10px;
    font-weight: normal;
}

.room-question {
    font-weight: normal;
    color: #515768;
    text-align: center;
    font-size: 1.8em;
}

.reservation-email-link {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #515768;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 100;
}

.reservation-email-link a h2 {
    color: #DCDFE5;
}

.reservation-email-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    transition: 0.3s ease-in-out;
    background-color: #87799C;
    z-index: -1;
}

.reservation-email-link:hover:before {
    height: 100%;
}

.reservation-email-link:hover {
    cursor: pointer;
}

.reservation-link {
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    color: #515768;
}

.scheduler-container {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    .scheduler {
        width: 80%;
        height: 500px;
    }
}

@media screen and (max-width: 900px) {
    .scheduler {
        width: 90%;
        height: 500px;
    }
}