.oweek-groups-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.oweek-group-link {
    width: 200px;
    height: 60px;
    text-align: center;
    border: 1px solid #BFBFCC;
    padding: 5px 10px;
    margin: 10px;
    font-size: 1.2em;
    transition: 0.3s ease-in-out;
}

.oweek-group-link:hover {
    /* color: #DCDFE5; */
    box-shadow: 0 0 10px 3px #BFBFCC;
    transform: scale(1.07);
    cursor: pointer;
}

.oweek-group {
    padding: 3% 0;
}

@media screen and (min-width: 1101px) {
    .advisor-bio {
        width: 15%;
        margin: 2%;
        box-shadow: 0 0 15px 5px #BFBFCC;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 1100px) {
    .advisor-bio {
        width: 200px;
        margin: 2%;
        box-shadow: 0 0 15px 5px #BFBFCC;
        padding: 10px 20px;
    }
}