.navbar-wrapper {
    position: fixed;
    z-index: 9999;
    display: inline-block;
    top: 0;
    width: 100%;
    transition: 0.5s ease-in-out;
    color: #DCDFE5;
}

.header-crest {
    float: left;
    margin: 0 20px;
    display: flex; 
    flex-direction: row;
    font-size: 1.7em;
}

.header-crest p {
    margin: 13px 0 10px 10px;
    color: #87799C;
}

.header-crest:hover {
    cursor: pointer;
}

.navbar-catagories {
    float: right;
}

.navbar-category {
    float: left;
}

.navbar-category:nth-of-type(4) {
    padding-right: 40px;
}

.navbar-dropdown-opener {
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 20px 10px 20px;
    font-size: 1.3em;
    color: inherit;
    background-color: inherit;
}

.navbar-category:hover .navbar-dropdown-opener {
    color: #87799C;
}

.navbar-dropdown-opener:focus {
    outline: none;
}

.dropdown-subheaders {
    display: block;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    color: #DCDFE5;
}

.dropdown-subheaders a {
    display: block;
    padding: 10px 10px 10px 20px;
    background-color: #515768;
    transition: 0.2s ease-in-out;
    color: #DCDFE5;
    text-decoration: none;
}

.dropdown-subheaders a:hover {
    color: #87799C;
}

.navbar-category:hover .dropdown-subheaders {
    max-height: 510px;
}

@media screen and (max-width: 860px) {
    .navbar-wrapper {
        display: none;
    }
}
.mobile-navbar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #515768;
    top: 0;
    transition: 0.3s ease-in-out;
    z-index: 999;
}

.mobile-navbar__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.fixed-mobile-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #DCDFE5;
    width: 100%;
    z-index: 600;
}

.header-crest-mobile {
    width: 80%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}  

.header-crest-mobile p {
    color: #87799C;
    font-size: 1.6em;
    margin: 10px 0 5px 0;
}

.header-crest-mobile:hover {
    cursor: pointer;
}

.show-navbar {
    margin: 3%;
}

.main-header {
    background: none;
    color: #DCDFE5;
    border: none;
    font-size: 2em;
    width: 100%;
    font-weight: normal;
    text-align: center;
    margin: 10% 0;
}


.close-navbar {
    margin: 3% auto auto 90%;
}

.main-header:nth-of-type(1) {
    margin-top: 40%;
}

.main-header a {
    font-weight: normal;
    text-decoration: none;
}

.subheader-hidden, .subheader-display {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #DCDFE5;
    transition: 0.4s ease-in-out;
}

.subheader-hidden {
    left: 100%;
}

.subheader-display {
    left: 0;
}

.subheader-back {
    color: #DCDFE5;
    margin: 5% auto auto 10%;
    text-decoration: none;
    font-size: 1.3em;
    color: #515768;
}

.subheader-item {
    color: #DCDFE5;
    margin-left: 13%;
    margin-bottom: 6%;
    text-decoration: none;
    font-size: 1.3em;
    color: #515768;
}

.subheader-item:nth-of-type(1) {
    margin-top: 20%;
}

@media screen and (min-width: 861px) {
    .mobile-navbar {
        display: none;
    }
    .show-navbar {
        display: none;
    }
    .header-crest-mobile {
        display: none;
    }
}
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #515768;
    color: #DCDFE5;
    padding: 15px 0 20px 0;
}

.footer-crest p {
    display: inline;
    color: #87799C;
    font-size: 1.2em;
}

.footer-item {
    margin: 4px;
    text-align: center;
    font-size: 0.6em;
}
.title-container {
    margin-top: 10%;
}

.title-theme {
    font-weight: normal;
    color: #DCDFE5;
    font-size: 2.3em;
    background-color: #87799C;
    padding: 5px 10px;
    text-align: center;
}
.diversity-resources {
    padding-top: 10%;
    margin-bottom: 8%;
}

.embedded-doc {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.doc-link-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.doc-link {
    color: #515768;
    background-color: #BFBFCC;
    padding: 15px;
}

.diversity-resources-page {
  padding-top: 10%;
  margin-bottom: 5%;
}

.diversity-resources-subtitle {
  text-align: center;
  margin: 120px 0 40px 0;
}

.diversity-resources-subtitle p {
  text-align: center;
  font-size: 1.8em;
  padding: 20px;
  background-color: #515768;
  color: #dcdfe5;
  display: inline;
}

.diversity-resources-message {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #515768;
}

.diversity-resources-links a {
  text-decoration: none;
}

.diversity-resources-link {
  position: relative;
  color: #515768;
  padding: 5px 5px;
  margin: 5px 5px 5px 5px;
  font-size: 1em;
  text-align: center;
  outline-color: #515768;
  outline-width: 1px;
  outline-style: solid;
  z-index: 100;
}

.diversity-resources-link:hover {
  color: #dcdfe5;
  font-weight: bold;
}

.diversity-resources-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #87799c;
  z-index: -1;
}

.diversity-resources-link:hover:before {
  height: 100%;
}

@media screen and (max-width: 610px) {
    .embedded-doc {
        display: none;
    }
}

@media screen and (min-width: 611px) {
    .doc-link-container {
        display: none;
    }
}
.blm-page {
  padding-top: 10%;
  margin-bottom: 5%;
}

.blm-subtitle {
  text-align: center;
  margin: 40px 0;
}

.blm-subtitle p {
  text-align: center;
  font-size: 1.8em;
  padding: 20px;
  background-color: #515768;
  color: #dcdfe5;
  display: inline;
}

.blm-message {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #515768;
}

.blm-links a {
  text-decoration: none;
}

.blm-link {
  position: relative;
  color: #515768;
  padding: 5px 5px;
  margin: 5px 5px 5px 5px;
  font-size: 1em;
  text-align: center;
  outline-color: #515768;
  outline-width: 1px;
  outline-style: solid;
  z-index: 100;
}

.blm-link:hover {
  color: #dcdfe5;
  font-weight: bold;
}

.blm-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #87799c;
  z-index: -1;
}

.blm-link:hover:before {
  height: 100%;
}

html {
    margin: 0;
    padding: 0;
    background-color: #DCDFE5;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

