.navbar-wrapper {
    position: fixed;
    z-index: 9999;
    display: inline-block;
    top: 0;
    width: 100%;
    transition: 0.5s ease-in-out;
    color: #DCDFE5;
}

.header-crest {
    float: left;
    margin: 0 20px;
    display: flex; 
    flex-direction: row;
    font-size: 1.7em;
}

.header-crest p {
    margin: 13px 0 10px 10px;
    color: #87799C;
}

.header-crest:hover {
    cursor: pointer;
}

.navbar-categories {
    float: right;
}

.navbar-category {
    float: left;
}

.navbar-category:nth-of-type(5) {
    padding-right: 40px;
}

.navbar-dropdown-opener {
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 20px 10px 20px;
    font-size: 1.3em;
    color: inherit;
    background-color: inherit;
}

.navbar-category:hover .navbar-dropdown-opener {
    color: #87799C;
}

.navbar-dropdown-opener:focus {
    outline: none;
}

.dropdown-subheaders {
    display: block;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    color: #DCDFE5;
}

.dropdown-subheaders a {
    display: block;
    padding: 10px 10px 10px 20px;
    background-color: #515768;
    transition: 0.2s ease-in-out;
    color: #DCDFE5;
    text-decoration: none;
}

.dropdown-subheaders a:hover {
    color: #87799C;
}

.navbar-category:hover .dropdown-subheaders {
    max-height: 510px;
}

@media screen and (max-width: 860px) {
    .navbar-wrapper {
        display: none;
    }
}
.mobile-navbar {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #515768;
    top: 0;
    transition: 0.3s ease-in-out;
    z-index: 999;
}

.mobile-navbar__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.fixed-mobile-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #DCDFE5;
    width: 100%;
    z-index: 600;
}

.header-crest-mobile {
    width: 80%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}  

.header-crest-mobile p {
    color: #87799C;
    font-size: 1.6em;
    margin: 10px 0 5px 0;
}

.header-crest-mobile:hover {
    cursor: pointer;
}

.show-navbar {
    margin: 3%;
}

.main-header {
    background: none;
    color: #DCDFE5;
    border: none;
    font-size: 2em;
    width: 100%;
    font-weight: normal;
    text-align: center;
    margin: 10% 0;
}


.close-navbar {
    margin: 3% auto auto 90%;
}

.main-header:nth-of-type(1) {
    margin-top: 40%;
}

.main-header a {
    font-weight: normal;
    text-decoration: none;
}

.subheader-hidden, .subheader-display {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #DCDFE5;
    transition: 0.4s ease-in-out;
}

.subheader-hidden {
    left: 100%;
}

.subheader-display {
    left: 0;
}

.subheader-back {
    color: #DCDFE5;
    margin: 5% auto auto 10%;
    text-decoration: none;
    font-size: 1.3em;
    color: #515768;
}

.subheader-item {
    color: #DCDFE5;
    margin-left: 13%;
    margin-bottom: 6%;
    text-decoration: none;
    font-size: 1.3em;
    color: #515768;
}

.subheader-item:nth-of-type(1) {
    margin-top: 20%;
}

@media screen and (min-width: 861px) {
    .mobile-navbar {
        display: none;
    }
    .show-navbar {
        display: none;
    }
    .header-crest-mobile {
        display: none;
    }
}
.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #515768;
    color: #DCDFE5;
    padding: 15px 0 20px 0;
}

.footer-crest p {
    display: inline;
    color: #87799C;
    font-size: 1.2em;
}

.footer-item {
    margin: 4px;
    text-align: center;
    font-size: 0.6em;
}
.title-container {
    margin-top: 10%;
}

.title-theme {
    font-weight: normal;
    color: #DCDFE5;
    font-size: 2.3em;
    background-color: #87799C;
    padding: 5px 10px;
    text-align: center;
}
.pcard-management-page {
    padding-top: 10%;
    margin-bottom: 5%;
}

.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
}

.pcard-category {
    color: #515768;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

.pcard-category h3 {
    color: #515768;
    font-size: 1.1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.category-subheader {
    text-align: left;
    background-color: #515768;
    display: inline;
    color: #DCDFE5;
    padding: 5px 10px;
    font-weight: normal;
}

.pcard-question {
    font-weight: normal;
    color: #515768;
    text-align: center;
    font-size: 1.8em;
}

.pcard-email-link {
    text-align: center;
    background-color: #515768;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 100;
}

.pcard-email-link a h2 {
    color: #DCDFE5;
}

.pcard-email-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    transition: 0.3s ease-in-out;
    background-color: #87799C;
    z-index: -1;
}

.pcard-email-link:hover:before {
    height: 100%;
}

.pcard-email-link:hover {
    cursor: pointer;
}

.pcard-link-text {
    font-size: 1.2em;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
}

.pcard-link {
    color: #87799C;
    text-decoration: underline;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.pcard-link:hover {
    color: #515768;
}

.scheduler-container {
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    .scheduler {
        width: 80%;
        height: 500px;
    }
}

@media screen and (max-width: 900px) {
    .scheduler {
        width: 90%;
        height: 500px;
    }
}

html {
    margin: 0;
    padding: 0;
    background-color: #DCDFE5;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly9fTl9FLy4vY29tcG9uZW50cy9uYXZiYXIvTmF2YmFyRGVza3RvcC5jc3MiLCJ3ZWJwYWNrOi8vX05fRS8uL2NvbXBvbmVudHMvbmF2YmFyL25hdmJhck1vYmlsZS5jc3MiLCJ3ZWJwYWNrOi8vX05fRS8uL2NvbXBvbmVudHMvZ2VuZXJhbC9mb290ZXIvZm9vdGVyLmNzcyIsIndlYnBhY2s6Ly9fTl9FLy4vY29tcG9uZW50cy9nZW5lcmFsL3RpdGxlLmNzcyIsIndlYnBhY2s6Ly9fTl9FLy4vY29tcG9uZW50cy9yZXNvdXJjZXMvcGNhcmRtYW5hZ2VtZW50L3BjYXJkbWFuYWdlbWVudC5jc3MiLCJ3ZWJwYWNrOi8vX05fRS8uL2NvbXBvbmVudHMvZ2VuZXJhbC9wYWdlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtJQUNJLGdCQUFnQjtJQUNoQixjQUFjO0lBQ2Qsc0JBQXNCO0lBQ3RCLE9BQU87SUFDUCxZQUFZO0lBQ1osNkJBQTZCO0lBQzdCLGVBQWU7Q0FDbEI7O0FBRUQ7SUFDSSxZQUFZO0lBQ1osZUFBZTtJQUNmLGNBQWM7SUFDZCxvQkFBb0I7SUFDcEIsaUJBQWlCO0NBQ3BCOztBQUVEO0lBQ0kseUJBQXlCO0lBQ3pCLGVBQWU7Q0FDbEI7O0FBRUQ7SUFDSSxnQkFBZ0I7Q0FDbkI7O0FBRUQ7SUFDSSxhQUFhO0NBQ2hCOztBQUVEO0lBQ0ksWUFBWTtDQUNmOztBQUVEO0lBQ0ksb0JBQW9CO0NBQ3ZCOztBQUVEO0lBQ0ksYUFBYTtJQUNiLHNDQUFzQztJQUN0Qyw2QkFBNkI7SUFDN0IsaUJBQWlCO0lBQ2pCLGVBQWU7SUFDZiwwQkFBMEI7Q0FDN0I7O0FBRUQ7SUFDSSxlQUFlO0NBQ2xCOztBQUVEO0lBQ0ksY0FBYztDQUNqQjs7QUFFRDtJQUNJLGVBQWU7SUFDZixtQkFBbUI7SUFDbkIsY0FBYztJQUNkLGlCQUFpQjtJQUNqQiw2QkFBNkI7SUFDN0IsZUFBZTtDQUNsQjs7QUFFRDtJQUNJLGVBQWU7SUFDZiw2QkFBNkI7SUFDN0IsMEJBQTBCO0lBQzFCLDZCQUE2QjtJQUM3QixlQUFlO0lBQ2Ysc0JBQXNCO0NBQ3pCOztBQUVEO0lBQ0ksZUFBZTtDQUNsQjs7QUFFRDtJQUNJLGtCQUFrQjtDQUNyQjs7QUFFRDtJQUNJO1FBQ0ksY0FBYztLQUNqQjs7QUNyRkw7SUFDSSxnQkFBZ0I7SUFDaEIsWUFBWTtJQUNaLGNBQWM7SUFDZCwwQkFBMEI7SUFDMUIsT0FBTztJQUNQLDZCQUE2QjtJQUM3QixhQUFhO0NBQ2hCOztBQUVEO0lBQ0ksbUJBQW1CO0lBQ25CLE9BQU87SUFDUCxRQUFRO0lBQ1IsWUFBWTtJQUNaLGNBQWM7SUFDZCxtQkFBbUI7SUFDbkIsa0NBQWtDO0NBQ3JDOztBQUVEO0lBQ0ksZ0JBQWdCO0lBQ2hCLGNBQWM7SUFDZCxvQkFBb0I7SUFDcEIsMEJBQTBCO0lBQzFCLFlBQVk7SUFDWixhQUFhO0NBQ2hCOztBQUVEO0lBQ0ksV0FBVztJQUNYLGVBQWU7SUFDZixjQUFjO0lBQ2Qsb0JBQW9CO0NBQ3ZCOztBQUVEO0lBQ0ksZUFBZTtJQUNmLGlCQUFpQjtJQUNqQixxQkFBcUI7Q0FDeEI7O0FBRUQ7SUFDSSxnQkFBZ0I7Q0FDbkI7O0FBRUQ7SUFDSSxXQUFXO0NBQ2Q7O0FBRUQ7SUFDSSxpQkFBaUI7SUFDakIsZUFBZTtJQUNmLGFBQWE7SUFDYixlQUFlO0lBQ2YsWUFBWTtJQUNaLG9CQUFvQjtJQUNwQixtQkFBbUI7SUFDbkIsY0FBYztDQUNqQjs7O0FBR0Q7SUFDSSx5QkFBeUI7Q0FDNUI7O0FBRUQ7SUFDSSxnQkFBZ0I7Q0FDbkI7O0FBRUQ7SUFDSSxvQkFBb0I7SUFDcEIsc0JBQXNCO0NBQ3pCOztBQUVEO0lBQ0ksWUFBWTtJQUNaLGNBQWM7SUFDZCxnQkFBZ0I7SUFDaEIsT0FBTztJQUNQLDBCQUEwQjtJQUMxQiw2QkFBNkI7Q0FDaEM7O0FBRUQ7SUFDSSxXQUFXO0NBQ2Q7O0FBRUQ7SUFDSSxRQUFRO0NBQ1g7O0FBRUQ7SUFDSSxlQUFlO0lBQ2YseUJBQXlCO0lBQ3pCLHNCQUFzQjtJQUN0QixpQkFBaUI7SUFDakIsZUFBZTtDQUNsQjs7QUFFRDtJQUNJLGVBQWU7SUFDZixpQkFBaUI7SUFDakIsa0JBQWtCO0lBQ2xCLHNCQUFzQjtJQUN0QixpQkFBaUI7SUFDakIsZUFBZTtDQUNsQjs7QUFFRDtJQUNJLGdCQUFnQjtDQUNuQjs7QUFFRDtJQUNJO1FBQ0ksY0FBYztLQUNqQjtJQUNEO1FBQ0ksY0FBYztLQUNqQjtJQUNEO1FBQ0ksY0FBYztLQUNqQjs7QUMxSEw7SUFDSSxZQUFZO0lBQ1osY0FBYztJQUNkLHVCQUF1QjtJQUN2QiwwQkFBMEI7SUFDMUIsZUFBZTtJQUNmLHVCQUF1QjtDQUMxQjs7QUFFRDtJQUNJLGdCQUFnQjtJQUNoQixlQUFlO0lBQ2YsaUJBQWlCO0NBQ3BCOztBQUVEO0lBQ0ksWUFBWTtJQUNaLG1CQUFtQjtJQUNuQixpQkFBaUI7O0FDbEJyQjtJQUNJLGdCQUFnQjtDQUNuQjs7QUFFRDtJQUNJLG9CQUFvQjtJQUNwQixlQUFlO0lBQ2YsaUJBQWlCO0lBQ2pCLDBCQUEwQjtJQUMxQixrQkFBa0I7SUFDbEIsbUJBQW1COztBQ1Z2QjtJQUNJLGlCQUFpQjtJQUNqQixrQkFBa0I7Q0FDckI7O0FBRUQ7SUFDSSxjQUFjO0lBQ2Qsb0JBQW9CO0lBQ3BCLHdCQUF3QjtJQUN4QixtQkFBbUI7Q0FDdEI7O0FBRUQ7SUFDSSxlQUFlO0lBQ2Ysa0JBQWtCO0lBQ2xCLGtCQUFrQjtJQUNsQixtQkFBbUI7Q0FDdEI7O0FBRUQ7SUFDSSxlQUFlO0lBQ2YsaUJBQWlCO0lBQ2pCLGtCQUFrQjtJQUNsQixxQkFBcUI7Q0FDeEI7O0FBRUQ7SUFDSSxpQkFBaUI7SUFDakIsMEJBQTBCO0lBQzFCLGdCQUFnQjtJQUNoQixlQUFlO0lBQ2Ysa0JBQWtCO0lBQ2xCLG9CQUFvQjtDQUN2Qjs7QUFFRDtJQUNJLG9CQUFvQjtJQUNwQixlQUFlO0lBQ2YsbUJBQW1CO0lBQ25CLGlCQUFpQjtDQUNwQjs7QUFFRDtJQUNJLG1CQUFtQjtJQUNuQiwwQkFBMEI7SUFDMUIsNkJBQTZCO0lBQzdCLG1CQUFtQjtJQUNuQixhQUFhO0NBQ2hCOztBQUVEO0lBQ0ksZUFBZTtDQUNsQjs7QUFFRDtJQUNJLFlBQVk7SUFDWixtQkFBbUI7SUFDbkIsT0FBTztJQUNQLFFBQVE7SUFDUixVQUFVO0lBQ1YsWUFBWTtJQUNaLDZCQUE2QjtJQUM3QiwwQkFBMEI7SUFDMUIsWUFBWTtDQUNmOztBQUVEO0lBQ0ksYUFBYTtDQUNoQjs7QUFFRDtJQUNJLGdCQUFnQjtDQUNuQjs7QUFFRDtJQUNJLGlCQUFpQjtJQUNqQixtQkFBbUI7SUFDbkIsb0JBQW9CO0lBQ3BCLHVCQUF1QjtDQUMxQjs7QUFFRDtJQUNJLGVBQWU7SUFDZiwyQkFBMkI7SUFDM0IsaUJBQWlCO0lBQ2pCLDZCQUE2QjtDQUNoQzs7QUFFRDtJQUNJLGVBQWU7Q0FDbEI7O0FBRUQ7SUFDSSxlQUFlO0lBQ2YsY0FBYztJQUNkLHdCQUF3QjtDQUMzQjs7QUFFRDtJQUNJO1FBQ0ksV0FBVztRQUNYLGNBQWM7S0FDakI7Q0FDSjs7QUFFRDtJQUNJO1FBQ0ksV0FBVztRQUNYLGNBQWM7S0FDakI7Q0FDSjs7QUM5R0Q7SUFDSSxVQUFVO0lBQ1YsV0FBVztJQUNYLDBCQUEwQjtJQUMxQixzQ0FBc0M7Q0FDekM7O0FBRUQ7SUFDSSxVQUFVO0lBQ1YsV0FBVztDQUNkIiwiZmlsZSI6InN0YXRpYy9jc3Mvc3R5bGVzLmNodW5rLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5uYXZiYXItd3JhcHBlciB7XHJcbiAgICBwb3NpdGlvbjogZml4ZWQ7XHJcbiAgICB6LWluZGV4OiA5OTk5O1xyXG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgdG9wOiAwO1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICB0cmFuc2l0aW9uOiAwLjVzIGVhc2UtaW4tb3V0O1xyXG4gICAgY29sb3I6ICNEQ0RGRTU7XHJcbn1cclxuXHJcbi5oZWFkZXItY3Jlc3Qge1xyXG4gICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICBtYXJnaW46IDAgMjBweDtcclxuICAgIGRpc3BsYXk6IGZsZXg7IFxyXG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcclxuICAgIGZvbnQtc2l6ZTogMS43ZW07XHJcbn1cclxuXHJcbi5oZWFkZXItY3Jlc3QgcCB7XHJcbiAgICBtYXJnaW46IDEzcHggMCAxMHB4IDEwcHg7XHJcbiAgICBjb2xvcjogIzg3Nzk5QztcclxufVxyXG5cclxuLmhlYWRlci1jcmVzdDpob3ZlciB7XHJcbiAgICBjdXJzb3I6IHBvaW50ZXI7XHJcbn1cclxuXHJcbi5uYXZiYXItY2F0ZWdvcmllcyB7XHJcbiAgICBmbG9hdDogcmlnaHQ7XHJcbn1cclxuXHJcbi5uYXZiYXItY2F0ZWdvcnkge1xyXG4gICAgZmxvYXQ6IGxlZnQ7XHJcbn1cclxuXHJcbi5uYXZiYXItY2F0ZWdvcnk6bnRoLW9mLXR5cGUoNSkge1xyXG4gICAgcGFkZGluZy1yaWdodDogNDBweDtcclxufVxyXG5cclxuLm5hdmJhci1kcm9wZG93bi1vcGVuZXIge1xyXG4gICAgYm9yZGVyOiBub25lO1xyXG4gICAgZm9udC1mYW1pbHk6ICdNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcclxuICAgIHBhZGRpbmc6IDE3cHggMjBweCAxMHB4IDIwcHg7XHJcbiAgICBmb250LXNpemU6IDEuM2VtO1xyXG4gICAgY29sb3I6IGluaGVyaXQ7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiBpbmhlcml0O1xyXG59XHJcblxyXG4ubmF2YmFyLWNhdGVnb3J5OmhvdmVyIC5uYXZiYXItZHJvcGRvd24tb3BlbmVyIHtcclxuICAgIGNvbG9yOiAjODc3OTlDO1xyXG59XHJcblxyXG4ubmF2YmFyLWRyb3Bkb3duLW9wZW5lcjpmb2N1cyB7XHJcbiAgICBvdXRsaW5lOiBub25lO1xyXG59XHJcblxyXG4uZHJvcGRvd24tc3ViaGVhZGVycyB7XHJcbiAgICBkaXNwbGF5OiBibG9jaztcclxuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgIG1heC1oZWlnaHQ6IDA7XHJcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xyXG4gICAgdHJhbnNpdGlvbjogMC4zcyBlYXNlLWluLW91dDtcclxuICAgIGNvbG9yOiAjRENERkU1O1xyXG59XHJcblxyXG4uZHJvcGRvd24tc3ViaGVhZGVycyBhIHtcclxuICAgIGRpc3BsYXk6IGJsb2NrO1xyXG4gICAgcGFkZGluZzogMTBweCAxMHB4IDEwcHggMjBweDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICM1MTU3Njg7XHJcbiAgICB0cmFuc2l0aW9uOiAwLjJzIGVhc2UtaW4tb3V0O1xyXG4gICAgY29sb3I6ICNEQ0RGRTU7XHJcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbn1cclxuXHJcbi5kcm9wZG93bi1zdWJoZWFkZXJzIGE6aG92ZXIge1xyXG4gICAgY29sb3I6ICM4Nzc5OUM7XHJcbn1cclxuXHJcbi5uYXZiYXItY2F0ZWdvcnk6aG92ZXIgLmRyb3Bkb3duLXN1YmhlYWRlcnMge1xyXG4gICAgbWF4LWhlaWdodDogNTEwcHg7XHJcbn1cclxuXHJcbkBtZWRpYSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDg2MHB4KSB7XHJcbiAgICAubmF2YmFyLXdyYXBwZXIge1xyXG4gICAgICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgICB9XHJcbn0iLCIubW9iaWxlLW5hdmJhciB7XHJcbiAgICBwb3NpdGlvbjogZml4ZWQ7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGhlaWdodDogMTAwdmg7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjNTE1NzY4O1xyXG4gICAgdG9wOiAwO1xyXG4gICAgdHJhbnNpdGlvbjogMC4zcyBlYXNlLWluLW91dDtcclxuICAgIHotaW5kZXg6IDk5OTtcclxufVxyXG5cclxuLm1vYmlsZS1uYXZiYXJfX2NvbnRhaW5lciB7XHJcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICB0b3A6IDA7XHJcbiAgICBsZWZ0OiAwO1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICBoZWlnaHQ6IDEwMHZoO1xyXG4gICAgb3ZlcmZsb3cteTogc2Nyb2xsO1xyXG4gICAgLXdlYmtpdC1vdmVyZmxvdy1zY3JvbGxpbmc6IHRvdWNoO1xyXG59XHJcblxyXG4uZml4ZWQtbW9iaWxlLWhlYWRlciB7XHJcbiAgICBwb3NpdGlvbjogZml4ZWQ7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNEQ0RGRTU7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIHotaW5kZXg6IDYwMDtcclxufVxyXG5cclxuLmhlYWRlci1jcmVzdC1tb2JpbGUge1xyXG4gICAgd2lkdGg6IDgwJTtcclxuICAgIG1hcmdpbjogMTBweCAwO1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XHJcbn0gIFxyXG5cclxuLmhlYWRlci1jcmVzdC1tb2JpbGUgcCB7XHJcbiAgICBjb2xvcjogIzg3Nzk5QztcclxuICAgIGZvbnQtc2l6ZTogMS42ZW07XHJcbiAgICBtYXJnaW46IDEwcHggMCA1cHggMDtcclxufVxyXG5cclxuLmhlYWRlci1jcmVzdC1tb2JpbGU6aG92ZXIge1xyXG4gICAgY3Vyc29yOiBwb2ludGVyO1xyXG59XHJcblxyXG4uc2hvdy1uYXZiYXIge1xyXG4gICAgbWFyZ2luOiAzJTtcclxufVxyXG5cclxuLm1haW4taGVhZGVyIHtcclxuICAgIGJhY2tncm91bmQ6IG5vbmU7XHJcbiAgICBjb2xvcjogI0RDREZFNTtcclxuICAgIGJvcmRlcjogbm9uZTtcclxuICAgIGZvbnQtc2l6ZTogMmVtO1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICBmb250LXdlaWdodDogbm9ybWFsO1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgbWFyZ2luOiAxMCUgMDtcclxufVxyXG5cclxuXHJcbi5jbG9zZS1uYXZiYXIge1xyXG4gICAgbWFyZ2luOiAzJSBhdXRvIGF1dG8gOTAlO1xyXG59XHJcblxyXG4ubWFpbi1oZWFkZXI6bnRoLW9mLXR5cGUoMSkge1xyXG4gICAgbWFyZ2luLXRvcDogNDAlO1xyXG59XHJcblxyXG4ubWFpbi1oZWFkZXIgYSB7XHJcbiAgICBmb250LXdlaWdodDogbm9ybWFsO1xyXG4gICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG59XHJcblxyXG4uc3ViaGVhZGVyLWhpZGRlbiwgLnN1YmhlYWRlci1kaXNwbGF5IHtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgaGVpZ2h0OiAxMDB2aDtcclxuICAgIHBvc2l0aW9uOiBmaXhlZDtcclxuICAgIHRvcDogMDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNEQ0RGRTU7XHJcbiAgICB0cmFuc2l0aW9uOiAwLjRzIGVhc2UtaW4tb3V0O1xyXG59XHJcblxyXG4uc3ViaGVhZGVyLWhpZGRlbiB7XHJcbiAgICBsZWZ0OiAxMDAlO1xyXG59XHJcblxyXG4uc3ViaGVhZGVyLWRpc3BsYXkge1xyXG4gICAgbGVmdDogMDtcclxufVxyXG5cclxuLnN1YmhlYWRlci1iYWNrIHtcclxuICAgIGNvbG9yOiAjRENERkU1O1xyXG4gICAgbWFyZ2luOiA1JSBhdXRvIGF1dG8gMTAlO1xyXG4gICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gICAgZm9udC1zaXplOiAxLjNlbTtcclxuICAgIGNvbG9yOiAjNTE1NzY4O1xyXG59XHJcblxyXG4uc3ViaGVhZGVyLWl0ZW0ge1xyXG4gICAgY29sb3I6ICNEQ0RGRTU7XHJcbiAgICBtYXJnaW4tbGVmdDogMTMlO1xyXG4gICAgbWFyZ2luLWJvdHRvbTogNiU7XHJcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiAgICBmb250LXNpemU6IDEuM2VtO1xyXG4gICAgY29sb3I6ICM1MTU3Njg7XHJcbn1cclxuXHJcbi5zdWJoZWFkZXItaXRlbTpudGgtb2YtdHlwZSgxKSB7XHJcbiAgICBtYXJnaW4tdG9wOiAyMCU7XHJcbn1cclxuXHJcbkBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDg2MXB4KSB7XHJcbiAgICAubW9iaWxlLW5hdmJhciB7XHJcbiAgICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgIH1cclxuICAgIC5zaG93LW5hdmJhciB7XHJcbiAgICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgIH1cclxuICAgIC5oZWFkZXItY3Jlc3QtbW9iaWxlIHtcclxuICAgICAgICBkaXNwbGF5OiBub25lO1xyXG4gICAgfVxyXG59IiwiLmZvb3Rlci1jb250YWluZXIge1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICM1MTU3Njg7XHJcbiAgICBjb2xvcjogI0RDREZFNTtcclxuICAgIHBhZGRpbmc6IDE1cHggMCAyMHB4IDA7XHJcbn1cclxuXHJcbi5mb290ZXItY3Jlc3QgcCB7XHJcbiAgICBkaXNwbGF5OiBpbmxpbmU7XHJcbiAgICBjb2xvcjogIzg3Nzk5QztcclxuICAgIGZvbnQtc2l6ZTogMS4yZW07XHJcbn1cclxuXHJcbi5mb290ZXItaXRlbSB7XHJcbiAgICBtYXJnaW46IDRweDtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgIGZvbnQtc2l6ZTogMC42ZW07XHJcbn0iLCIudGl0bGUtY29udGFpbmVyIHtcclxuICAgIG1hcmdpbi10b3A6IDEwJTtcclxufVxyXG5cclxuLnRpdGxlLXRoZW1lIHtcclxuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XHJcbiAgICBjb2xvcjogI0RDREZFNTtcclxuICAgIGZvbnQtc2l6ZTogMi4zZW07XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjODc3OTlDO1xyXG4gICAgcGFkZGluZzogNXB4IDEwcHg7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbn0iLCIucGNhcmQtbWFuYWdlbWVudC1wYWdlIHtcclxuICAgIHBhZGRpbmctdG9wOiAxMCU7XHJcbiAgICBtYXJnaW4tYm90dG9tOiA1JTtcclxufVxyXG5cclxuLmNlbnRlci1kaXYge1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuICAgIHBhZGRpbmctYm90dG9tOiAxJTtcclxufVxyXG5cclxuLnBjYXJkLWNhdGVnb3J5IHtcclxuICAgIGNvbG9yOiAjNTE1NzY4O1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMSU7XHJcbiAgICBtYXJnaW4tbGVmdDogYXV0bztcclxuICAgIG1hcmdpbi1yaWdodDogYXV0bztcclxufVxyXG5cclxuLnBjYXJkLWNhdGVnb3J5IGgzIHtcclxuICAgIGNvbG9yOiAjNTE1NzY4O1xyXG4gICAgZm9udC1zaXplOiAxLjFlbTtcclxuICAgIG1hcmdpbi10b3A6IDEuNWVtO1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMC41ZW07XHJcbn1cclxuXHJcbi5jYXRlZ29yeS1zdWJoZWFkZXIge1xyXG4gICAgdGV4dC1hbGlnbjogbGVmdDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICM1MTU3Njg7XHJcbiAgICBkaXNwbGF5OiBpbmxpbmU7XHJcbiAgICBjb2xvcjogI0RDREZFNTtcclxuICAgIHBhZGRpbmc6IDVweCAxMHB4O1xyXG4gICAgZm9udC13ZWlnaHQ6IG5vcm1hbDtcclxufVxyXG5cclxuLnBjYXJkLXF1ZXN0aW9uIHtcclxuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XHJcbiAgICBjb2xvcjogIzUxNTc2ODtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgIGZvbnQtc2l6ZTogMS44ZW07XHJcbn1cclxuXHJcbi5wY2FyZC1lbWFpbC1saW5rIHtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICM1MTU3Njg7XHJcbiAgICB0cmFuc2l0aW9uOiAwLjJzIGVhc2UtaW4tb3V0O1xyXG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgei1pbmRleDogMTAwO1xyXG59XHJcblxyXG4ucGNhcmQtZW1haWwtbGluayBhIGgyIHtcclxuICAgIGNvbG9yOiAjRENERkU1O1xyXG59XHJcblxyXG4ucGNhcmQtZW1haWwtbGluazpiZWZvcmUge1xyXG4gICAgY29udGVudDogJyc7XHJcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICB0b3A6IDA7XHJcbiAgICBsZWZ0OiAwO1xyXG4gICAgaGVpZ2h0OiAwO1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICB0cmFuc2l0aW9uOiAwLjNzIGVhc2UtaW4tb3V0O1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzg3Nzk5QztcclxuICAgIHotaW5kZXg6IC0xO1xyXG59XHJcblxyXG4ucGNhcmQtZW1haWwtbGluazpob3ZlcjpiZWZvcmUge1xyXG4gICAgaGVpZ2h0OiAxMDAlO1xyXG59XHJcblxyXG4ucGNhcmQtZW1haWwtbGluazpob3ZlciB7XHJcbiAgICBjdXJzb3I6IHBvaW50ZXI7XHJcbn1cclxuXHJcbi5wY2FyZC1saW5rLXRleHQge1xyXG4gICAgZm9udC1zaXplOiAxLjJlbTtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XHJcbiAgICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlO1xyXG59XHJcblxyXG4ucGNhcmQtbGluayB7XHJcbiAgICBjb2xvcjogIzg3Nzk5QztcclxuICAgIHRleHQtZGVjb3JhdGlvbjogdW5kZXJsaW5lO1xyXG4gICAgZm9udC13ZWlnaHQ6IDUwMDtcclxuICAgIHRyYW5zaXRpb246IDAuMnMgZWFzZS1pbi1vdXQ7XHJcbn1cclxuXHJcbi5wY2FyZC1saW5rOmhvdmVyIHtcclxuICAgIGNvbG9yOiAjNTE1NzY4O1xyXG59XHJcblxyXG4uc2NoZWR1bGVyLWNvbnRhaW5lciB7XHJcbiAgICBtYXJnaW4tdG9wOiA0JTtcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxufVxyXG5cclxuQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogOTAwcHgpIHtcclxuICAgIC5zY2hlZHVsZXIge1xyXG4gICAgICAgIHdpZHRoOiA4MCU7XHJcbiAgICAgICAgaGVpZ2h0OiA1MDBweDtcclxuICAgIH1cclxufVxyXG5cclxuQG1lZGlhIHNjcmVlbiBhbmQgKG1heC13aWR0aDogOTAwcHgpIHtcclxuICAgIC5zY2hlZHVsZXIge1xyXG4gICAgICAgIHdpZHRoOiA5MCU7XHJcbiAgICAgICAgaGVpZ2h0OiA1MDBweDtcclxuICAgIH1cclxufVxyXG4iLCJodG1sIHtcclxuICAgIG1hcmdpbjogMDtcclxuICAgIHBhZGRpbmc6IDA7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjRENERkU1O1xyXG4gICAgZm9udC1mYW1pbHk6ICdNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcclxufVxyXG5cclxuYm9keSB7XHJcbiAgICBtYXJnaW46IDA7XHJcbiAgICBwYWRkaW5nOiAwO1xyXG59XHJcbiJdLCJzb3VyY2VSb290IjoiIn0=*/