@media screen and (min-width: 900px){
    .mcteam-page {
        margin-top: 8%;
        margin-bottom: 5%;
    }
}

.active-key, .inactive-key {
    border: solid;
    border-width: 0 0 2px 0;
    text-align: center;
    color: #2B2F3A;
    transition: 0.3s ease-in-out;
}

.active-key {
    border-color: #2B2F3A;
}

.inactive-key {
    border-color: #BFBFCC;
}

@media screen and (min-width: 650px){
    .mcteam-key {
        font-size: 1em;
        padding-right: 5px;
        padding-left: 5px;
    }

    .inactive-key, .active-key {
        max-width: 120px;
        height: 75px;
        padding: 0px 20px;
    }
}

@media screen and (max-width: 650px){
    .mcteam-key {
        font-size: 0.6em;
        padding-right: 10px;
        padding-left: 10px;
    }

    .inactive-key, .active-key {
        max-width: 70px;
        height: 50px;
    }
}

.inactive-key:hover {
    border-color: #2B2F3A;
}

.position-content {
    color: #2B2F3A;
    margin-top: 30px;
    padding:  20px 50px;
}

.mcteam-name {
    text-align: center;
    font-weight: normal;
    font-size: 1.8em;
}