.divisional-advisors-page  {
    margin-top: 8%;
    margin-bottom: 5%;
}

.advisor-column {
    margin-left: 0.8%;
    margin-right: 0.8%;
    margin-top: 2%;
}

.advisor-card {
    margin-top: 2%;
    margin-bottom: 2%;
    transition: 0.2s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    color: #2B2F3A;
    border: 1px solid #BFBFCC;
}

.divisional-advisor-dropdown {
    overflow: hidden;
    transition: 0.6s ease-in-out;
}

.advisor-card:hover {
    border-color: #2B2F3A;
}

.advisor-name {
    font-size: 1.75em;
    font-weight: normal;
    text-align: center;
}

.advisor-school {
    font-size: 1.25em;
    font-weight: normal;
    text-align: center;
}

.advisor-bio {
    text-align: left;
    padding: 20px;
}