.sponsor-page {
    padding-bottom: 10%;
}

.mcm10-message p {
    color: #2B2F3A;
}

.mcm10-message p a {
    text-decoration: none;
    color: #87799C;
}

.back-link {
    position: fixed;
    margin: 3%;
    font-size: 1.5em;
    text-decoration: none;
    color: #2B2F3A;
    transition: 0.3s ease-in-out
}

.back-link:hover {
    transform: translateX(-10px);
}

@media screen and (min-width: 801px) {
    .support-mcm {
        width: 800px;
        padding-top: 5%;
        margin: 0 auto 0 auto;
        text-align: center;
        border: solid #2B2F3A;
        border-width: 0 0 1px 0;
        font-weight: normal;
        font-size: 4em;
    }
}

@media screen and (max-width: 800px) {
    .support-mcm {
        width: 350px;
        padding-top: 13%;
        margin: 0 auto 0 auto;
        text-align: center;
        border: solid #2B2F3A;
        border-width: 0 0 1px 0;
        font-weight: normal;
        font-size: 2em;
    }
}

.sponsor-instructions {
    text-align: left;
    opacity: 0.8;
    margin: 40px 0 0 0;
}

.sponsor-instructions li {
    margin: 10px 20px;
}

.sponsor-screenshots div{
    margin: 0 10px;
}

.sponsor-tiers {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tier {
    width: 320px;
    height: 250px;
    margin: 15px;
    box-shadow: 0 0 15px 5px #BFBFCC;
    text-align: center;
    transition: 0.4s ease-in-out;
}

.tier-name {
    font-size: 1.7em;
    width: 100%;
    background-color: #2B2F3A;
    height: 90px;
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    color: #DCDFE5;
    box-sizing: border-box;
}

.tier-amount {
    padding-top: 40px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 1.4em;
}

.tier:hover {
    transform: translateY(-15px) scale(1.05);
    background-color: #87799C;
    color: #DCDFE5;
}

.tier:hover a {
    color: #DCDFE5;
}

.tier a {
    text-decoration: none;
    color: #87799C;
    transition: 0.3s ease-in-out;
}

.donate-btn {
    position: absolute;
    height: 30px;
    width: 320px;
    padding-top: 30px;
    font-size: 1.4em;
    text-align: center;
}

.our-sponsors {
    width: 80%;
    margin: 7% auto 4% auto;
    font-weight: normal;
    text-align: center;
    border: solid #2B2F3A;
    border-width: 0 0 1px 0;
}

.our-sponsor {
    display: inline;
    font-weight: normal;
    padding: 10px;
    margin: 20px;
    background-color: #87799C;
    color: #DCDFE5;
    transition: 0.3s ease-in-out;
}

.our-sponsor:hover {
    transform: scale(1.05);
    background-color: #2B2F3A;
}