.committee-page {
    padding-top: 10%;
    margin-bottom: 5%;
}

.inactive-division, .active-division {
    border: solid;
    border-width: 0 0 2px 0;
    color: #515768;
    padding: 5px;
    text-align: center;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.active-division {
    border-color: #515768;
}

.inactive-division {
    border-color: #BFBFCC;
}

.inactive-division:hover {
    border-color: #515768;
}

.inactive-committee, .active-committee {
    border: solid;
    border-width: 0 0 2px 0;
    color: #515768;
    padding: 5px;
    text-align: center;
    transition: border-color 0.3s ease-in-out;
}

.inactive-committee {
    border-color: #BFBFCC;
}

.active-committee {
    border-color: #515768;
}

.inactive-committee:hover {
    border-color: #515768;
}

@media screen and (max-width: 670px) {
    .division-key {
        font-size: 0.6em;
        max-width: 90px;
    }
    .committee-key {
        font-size: 0.5em;
        max-width: 50px;
        height: 20px;
        padding: 0px 5px;
    }
}

@media screen and (min-width: 671px) {
    .division-key {
        font-size: 1em;
        max-width: 120px;
        padding: 0px 20px;
    }
    .committee-key {
        font-size: 0.7em;
        max-width: 75px;
        height: 30px;
        padding: 0px 10px;
    }
}

.division-title {
    font-size: 2em;
    text-align: center;
    font-weight: normal;
    padding: 8px;
    color: #515768;
}

.committee-description {
    /* border: 1px solid #515768; */
    margin-top: 30px;
    padding: 5px 30px 30px 30px;
}

@media screen and (max-width: 899px) {
    .division-title {
        margin-top: 40px;
    }
}