.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #515768;
    background-color: #BFBFCC;
    padding: 5px 0 40px 0;
}

.footer-item {
    margin: 4px;
    text-align: center;
    font-size: 0.6em;
}