.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #515768;
    color: #DCDFE5;
    padding: 15px 0 20px 0;
}

.footer-crest p {
    display: inline;
    color: #87799C;
    font-size: 1.2em;
}

.footer-item {
    margin: 4px;
    text-align: center;
    font-size: 0.6em;
}