.parallax-wrapper1 {
    height: 100vh;
}

.mcm10-title-container {
    overflow: hidden;
    animation: reveal 3s 1;
    backface-visibility: hidden;
}

.mcm10-title p {
    margin: 10px 0;
}

@keyframes reveal {
    0% {
        width: 0;
        height: 0;
    }
    5% {
        width: 20px;
        height: 10px;
    }
    40% {
        width: 400px;
        height: 10px;
    }
    100% {
        width: 400px;
        height: 200px;
    }
}

@keyframes revealMobile {
    0% {
        width: 0;
        height: 0;
    }
    5% {
        width: 20px;
        height: 5px;
    }
    40% {
        width: 300px;
        height: 5px;
    }
    100% {
        width: 300px;
        height: 150px;
    }
}

.mcm10-btn {
    margin: 3% auto;
    text-align: center;
    position: relative;
    z-index: 100;
    background-color: #2B2F3A;
    transition: 0.5s ease-in-out;
    color: #DCDFE5;
    animation: btn-fade 5s 1;
}

.mcm10-btn p {
    padding: 10px;
}

.mcm10-btn:hover {
    color: #2B2F3A;
    cursor: pointer;
}

.mcm10-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #DCDFE5;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.mcm10-btn:hover:before {
    width: 100%;
    height: 100%;
}

@keyframes btn-fade {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 601px) {
    .mcm10-title-container {
        margin: 5% auto 0 auto;
        width: 400px;
        height: 200px;
        animation: reveal 3s 1;
    }
    .mcm10-btn {
        width: 400px;
        font-size: 2em;
    }
    .mcm10-title {
        width: 400px;
        height: 200px;
    }
}


@media screen and (max-width: 600px) {
    .mcm10-title-container {
        margin: 40% auto 0 auto;
        width: 300px;
        height: 150px;
        animation: revealMobile 3s 1;
    }
    .mcm10-btn {
        width: 300px;
        font-size: 1.4em;
    }
    .mcm10-title {
        width: 300px;
        height: 150px;
    }
}

.faqs-btn {
    width: 180px;
    text-align: center;
    margin: 4% auto;
    font-size: 3em;
    color: #DCDFE5;
    background-color: #2B2F3A;
    padding: 10px;
    transition: 0.3s ease-in-out;
}

.faqs-btn p {
    margin: 0;
}

.faqs-btn:hover {
    background-color: #87799C;
}
@media screen and (min-width: 801px) {
    .mcm10-schedule {
        width: 800px;
        margin: 5% auto 0 auto;
        text-align: center;
        border: solid #2B2F3A;
        border-width: 0 0 1px 0;
        font-weight: normal;
        font-size: 4em;
    }
    .events-list {
        margin-bottom: 10%;
    }
    .event-wrapper {
        display: flex;
        flex-direction: row;
        width: 800px;
        margin: 2% auto;
    }
    .event-left {
        width: 500px;
    }
    .event-right {
        width: 390px;
        margin-left: 60px;
    }
    .event-info {
        padding: 10px 20px;
        width: 350px;
        box-shadow: 0 0 15px 5px #BFBFCC;
        color: #2B2F3A;
        transition: 0.3s ease-in-out;
    }
    .event-info:hover {
        transform: scale(1.05);
    }
    .event-date {
        margin-top: 15px;
        font-size: 1.6em;
    }
    .event-left .event-date {
        text-align: right;
        padding-right: 60px;
    }
    .event-title {
        font-size: 1.3em;
        font-weight: 600;
    }
    .mobile-right {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .mcm10-schedule {
        width: 350px;
        margin: 5% auto 0 auto;
        text-align: center;
        border: solid #2B2F3A;
        border-width: 0 0 1px 0;
        font-weight: normal;
        font-size: 2em;
    }
    .events-list {
        margin-bottom: 20%;
    }
    .event-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 350px;
        margin: 2% auto;
    }
    .event-left, .event-right {
        width: 350px;
        margin: 20px 0;
    }
    .event-info {
        margin: 3% auto;
        padding: 10px 20px;
        width: 300px;
        box-shadow: 0 0 20px 5px #BFBFCC;
        color: #2B2F3A;
    }
    .event-date {
        font-size: 1.2em;
    }
    .event-title {
        font-size: 1.2em;
    }
    .desktop-right {
        display: none;
    }
}
.back-link {
    position: fixed;
    margin: 3%;
    font-size: 1.5em;
    text-decoration: none;
    color: #2B2F3A;
    transition: 0.3s ease-in-out
}

@media screen and (min-width: 801px) {
    .faqs-section-title {
        width: 800px;
        padding-top: 5%;
        margin: 0 auto;
        text-align: center;
        border: solid #2B2F3A;
        border-width: 0 0 1px 0;
        font-weight: normal;
        font-size: 4em;
    }
}

@media screen and (max-width: 800px) {
    .faqs-section-title {
        width: 350px;
        padding-top: 10%;
        margin: 0 auto;
        text-align: center;
        border: solid #2B2F3A;
        border-width: 0 0 1px 0;
        font-weight: normal;
        font-size: 2em;
    }
}

.faqs-list {
    margin: 0 auto;
}

.faq-card {
    margin: 5% 0;
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    border: 2px solid #2B2F3A;
}

.faq-question, .faq-answer {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.4s ease-in-out;
    font-size: 1.2em;
}

.faq-question {
    left: 0;
    background-color: #DCDFE5;
    color: #2B2F3A;
}

.faq-answer {
    right: 100%;
    background-color: #2B2F3A;
    color: #DCDFE5;
}

.faq-card:hover .faq-answer {
    right: 0;
}

.faq-card:focus .faq-answer {
    right: 0;
}

.faq-question p, .faq-answer p {
    padding: 20px;
}
html {
    margin: 0;
    padding: 0;
    background-color: #DCDFE5;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/*# sourceMappingURL=styles.chunk.css.map*/