.mcm10-title {
    padding: 70px 0;
}

.mcm10-message p {
    color: #2B2F3A;
}

.mcm10-message p a {
    text-decoration: none;
    color: #87799C;
}

.mcm10-link {
    text-align: center;
    transition: 0.3s ease-in-out;
    background-color: #2B2F3A;
    width: 350px;
    padding: 20px 0;
    position: relative;
    z-index: 999;
}

.mcm10-link:before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    background-color: #87799C;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1101px) {
    .mcm10-link {
        margin: 300px auto;
    }
}

@media screen and (min-width: 751px) and (max-width: 1100px) {
    .mcm10-link {
        margin: 100px auto;
    }
}

@media screen and (max-width: 750px) {
    .mcm10-link {
        margin: 100px auto;
    }
}


.parallax-scaler {
    transform: scale(0.9);
}

.mcm10-link h1 {
    font-weight: normal;
    display: inline;
    text-align: center;
    color: #DCDFE5;
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.mcm10-link:hover {
    cursor: pointer;
}

.mcm10-link:hover::before {
    width: 100%;
}

.faqs-btn {
    width: 150px;
    text-align: center;
    margin: 0 auto 8% auto;
    font-size: 3em;
    color: #DCDFE5;
    background-color: #2B2F3A;
    padding: 10px;
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 999;
}

.faqs-btn:before {
    position: absolute;
    content: "";
    background-color: #87799C;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.faqs-btn p {
    margin: 0;
}

.faqs-btn:hover {
    cursor: pointer;
}

.faqs-btn:hover:before {
    width: 100%;
}

@media screen and (min-width: 801px) {
    .survey-mobile {
        display: none;
    }
    .survey-desktop {
        width: 700px;
        margin: 20px auto;
    }
}

@media screen and (max-width: 800px) {
    .survey-desktop {
        display: none;
    }
    .survey-mobile {
        width: 350px;
        margin: 20px auto;
    }
}

.mcm10-contact {
    font-weight: normal;
    width: 300px;
    text-align: center;
    margin: 50px auto 10% auto;
}

@media screen and (min-width: 801px) {
    .contact-section-title {
        width: 800px;
        margin: 4% auto;
        text-align: center;
        border: solid #2B2F3A;
        border-width: 0 0 1px 0;
        font-weight: normal;
        font-size: 4em;
    }
}

@media screen and (max-width: 800px) {
    .contact-section-title {
        width: 350px;
        padding-top: 10%;
        margin: 0 auto;
        text-align: center;
        border: solid #2B2F3A;
        border-width: 0 0 1px 0;
        font-weight: normal;
        font-size: 2em;
    }
}
