.mcm10-title {
    padding: 70px 0;
}

.mcm10-title h1 {
    font-weight: normal;
    font-size: 3em;
    margin: 10px 0;
}

.mcm10-title h2 {
    font-weight: normal;
    font-size: 2em;
    margin-top: 0px;
}

@media screen and (min-width: 1101px) {
    .mcm10-link {
        margin: 300px auto;
        text-align: center;
        transition: 0.3s ease-in-out;
    }
}

@media screen and (min-width: 751px) and (max-width: 1100px) {
    .mcm10-link {
        margin: 100px auto;
        text-align: center;
        transition: 0.3s ease-in-out;
    }
}

@media screen and (max-width: 750px) {
    .mcm10-link-bg {
        display: none;
    }
    .mcm10-link {
        margin: 100px auto;
        text-align: center;
        transition: 0.3s ease-in-out;
        background-color: #DCDFE5;
        width: 250px;
        padding: 10px 0;
        box-sizing: border-box;
    }
}


.parallax-scaler {
    transform: scale(0.9);
}

.mcm10-link-bg {
    position: absolute;
    background: #DCDFE5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mcm10-link h1 {
    font-weight: normal;
    display: inline;
    text-align: center;
    color: #2B2F3A;
    transition: 0.3s ease-in-out;
}

.mcm10-link:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.faqs-btn {
    width: 150px;
    text-align: center;
    margin: 0 auto 8% auto;
    font-size: 3em;
    color: #DCDFE5;
    background-color: #2B2F3A;
    padding: 10px;
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 999;
}

.faqs-btn:before {
    position: absolute;
    content: "";
    background-color: #87799C;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.faqs-btn p {
    margin: 0;
}

.faqs-btn:hover {
    cursor: pointer;
}

.faqs-btn:hover:before {
    width: 100%;
}