@media screen and (min-width: 700px){
    .wide-mcm-resources-pdf {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        display: flex;
    }
    .narrow-mcm-resources-pdf {
        display: none;
    }
}

@media screen and (max-width: 699px){
    .wide-mcm-resources-pdf {
        display: none;
    }
    .narrow-mcm-resources-pdf {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        display: flex;
    }
}

.mcm-resources-page {
    margin-top: 8%;
}