.artevents-page {
    padding-top: 10%;
    margin-bottom: 5%;
}

.artevent-calendar {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.events-calendar-link {
    color: #DCDFE5;
    position: relative;
    width: 300px;
    padding: 40px 15px;
    text-align: center;
    background-color: #515768;
    height: 150px;
    transition: 0.3s ease-in-out;
    z-index: 100;
    text-decoration: none;
    margin: 50px auto;
}

.events-calendar-link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #87799C;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.events-calendar-link:hover {
    cursor: pointer;
}

.events-calendar-link:hover:before {
    height: 100%;
}

.events-calendar-link a {
    color: #DCDFE5;
    text-decoration: none;
}

.events-calendar-link h2 {
    font-weight: normal;
    text-decoration: none;
}

@media screen and (min-width: 841px) {
    .events-calendar-link {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    .artevent-calendar {
        display: none;
    }
}