.oweek-navbar-visible, .oweek-navbar-hidden {
    position: fixed;
    top: 0;
    background-color: #2B2F3A;
    color: #DCDFE5;
    height: 100vh;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
}

.oweek-navbar-link {
    transition: 0.2s ease-in-out;
    border: solid #2B2F3A;
    border-width: 0 0 0 3px;
}

@media screen and (min-width: 801px) {
    .oweek-navbar-visible {
        width: 15%;
        right: 85%;
    }
    .oweek-navbar-hidden {
        width: 15%;
        right: 85%;
    }
    .oweek-navbar-link {
        padding: 1% 5%;
    }
    .oweek-navbar-close, .oweek-navbar-open {
        display: none;
    }
    .oweek-navbar-link:hover {
        background-color: #3A3F4F;
        cursor: pointer;
        border-color: #DCDFE5;
    }
}

@media screen and (max-width: 800px) {
    .oweek-navbar-visible {
        width: 100%;
        right: 0%;
    }
    .oweek-navbar-hidden {
        width: 100%;
        right: 100%;
    }
    .oweek-navbar-link {
        padding: 1% 10%;
        text-align: center;
    }
}

.oweek-navbar-close {
    text-align: right;
    margin: 5% 5% 0 0;
}

.oweek-navbar-open {
    position: fixed;
    margin: 3%;
}