.oweek-navbar-visible, .oweek-navbar-hidden {
    position: fixed;
    top: 0;
    background-color: #2B2F3A;
    color: #DCDFE5;
    height: 100vh;
    transition: 0.5s ease-in-out;
    z-index: 999;
}

.oweek-navbar-link {
    transition: 0.2s ease-in-out;
}

@media screen and (min-width: 801px) {
    .oweek-navbar-visible {
        width: 20%;
        right: 80%;
    }
    .oweek-navbar-hidden {
        width: 20%;
        right: 80%;
    }
    .oweek-navbar-link {
        padding: 0.5% 3%;
        text-align: center;
    }
    .oweek-navbar-close, .oweek-navbar-open {
        display: none;
    }
    .oweek-navbar-link:hover {
        background-color: #3A3F4F;
        cursor: pointer;
    }
}

@media screen and (max-width: 800px) {
    .oweek-navbar-visible {
        width: 100%;
        right: 0%;
    }
    .oweek-navbar-hidden {
        width: 100%;
        right: 100%;
    }
    .oweek-navbar-link {
        padding: 1px 5%;
        margin: 0;
        text-align: center;
    }
}

.oweek-navbar-close {
    text-align: right;
    margin: 5% 5% 0 0;
}

.oweek-navbar-open {
    position: fixed;
    margin: 3%;
}