.paas-page {
    margin-top: 8%;
    margin-bottom: 5%;
}

.paas-description {
    margin-top: 30px;
    padding: 30px;
}

.paas-title {
    font-size: 2em;
    text-align: center;
    font-weight: normal;
    padding: 8px;
    color: #2B2F3A;
}