@media screen and (min-width: 700px){
    .wide-initiative-request-form {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        display: flex;
    }

    .narrow-initiative-request-form {
        display: none;
    }
}

@media screen and (max-width: 699px){
    .wide-initiative-request-form {
        display: none;
    }

    .narrow-initiative-request-form {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
}

.initiative-request-page {
    padding-top: 5%;
}