@media screen and (min-width: 700px){
    .wide-workorder-form {
        width: 660px;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        display: flex;
    }

    .narrow-workorder-form {
        display: none;
    }
}

@media screen and (max-width: 699px){
    .wide-workorder-form {
        display: none;
    }

    .narrow-workorder-form {
        width: 360px;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        display: flex;
    }
}

.workorder-page {
    padding-top: 10%;
}