.diversity-resources {
    padding-top: 10%;
    margin-bottom: 8%;
}

.embedded-doc {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.doc-link-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.doc-link {
    color: #515768;
    background-color: #BFBFCC;
    padding: 15px;
}

.diversity-resources-page {
  padding-top: 10%;
  margin-bottom: 5%;
}

.diversity-resources-subtitle {
  text-align: center;
  margin: 120px 0 40px 0;
}

.diversity-resources-subtitle p {
  text-align: center;
  font-size: 1.8em;
  padding: 20px;
  background-color: #515768;
  color: #dcdfe5;
  display: inline;
}

.diversity-resources-message {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #515768;
}

.diversity-resources-links a {
  text-decoration: none;
}

.diversity-resources-link {
  position: relative;
  color: #515768;
  padding: 5px 5px;
  margin: 5px 5px 5px 5px;
  font-size: 1em;
  text-align: center;
  outline-color: #515768;
  outline-width: 1px;
  outline-style: solid;
  z-index: 100;
}

.diversity-resources-link:hover {
  color: #dcdfe5;
  font-weight: bold;
}

.diversity-resources-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #87799c;
  z-index: -1;
}

.diversity-resources-link:hover:before {
  height: 100%;
}

@media screen and (max-width: 610px) {
    .embedded-doc {
        display: none;
    }
}

@media screen and (min-width: 611px) {
    .doc-link-container {
        display: none;
    }
}